<!DOCTYPE html>
<html>
<head>
    <title>Audio File Upload</title>
    <style>
        body {
            background-color: #537BAE;
            color: white;
        }
    </style>
</head>
<body>
  <center>
    <h1>Sentiment Analysis for Conversations</h1>
    <img src="{{ url_for('static', filename='images/sentiment1.jpeg') }}" alt="Sentiment Image" width="350" height="350">
    <p>Image credits: DALL-E</p>
    <h3>Upload an Audio File</h3>
    <form method="POST" enctype="multipart/form-data" action="/upload">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
  </center>
</body>
</html>